@import "tailwindcss";

@theme inline {
  --color-background: #060D0A;
  --color-foreground: #F8FDFC;
  --color-primary: #3BD0C4;
  --color-primary-foreground: #042521;
  --color-muted: #13241D;
  --color-muted-foreground: #9CFCF8;
  --color-border: #13241D;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
